.jumpmenu {
	display: none;
}

.anchor_super {
	visibility: hidden;
}

a, a:visited {
	color: blue;
}

body > * {
	margin: 0 auto;
	width: 100%;
	max-width: 700px;
}

#top {
	margin-top: 20px;
}

#lastmodified {
	margin: 40px auto 0;
}

#sponsor-link {
	text-align: center;
}

#footer {
	margin: 16px auto 0;
	border-top: 1px solid gray;
	text-align: center;
}

#footer .description {
	margin-bottom: 0;
}

#footer .site-admin:before {
	content: "Site admin: ";
}

#footer .timestamp {
	margin-bottom: 16px;
}

#footer .timestamp:before {
	content: "Dumped at: ";
}
